*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}


section#banner{
    width: 100%;
   
    /* background-color: blue; */
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: background-color .5s;


}

nav{
    display: table;
    margin: auto;
    margin-top: 15px;
    
    height: 40px;
    transition: margin-left .5s;
}

ul{
    display: block;
    float: left;
    list-style: none;
    color: #fff;
    text-decoration: none;

}

ul li{
    margin: 10px;
    float: left;
    padding: 2px;
}

ul a{
    
}

img#logo{
    float: left;
    display: block;
    margin: 150px 30px 0px 30px;
    transition: width .5s, height .5s, margin-right .5s, margin-top .5s;

}


#body{
    height: 1000px;
}